<span class="icon-container">
  <svg class="icon icon--primary">
    <!--USE IS FOR BRINING OTHER SVG FILE TO YOUR CODE #WORDPRESS IS AN ICON FOR THE SVG IMAGE-->
    <use xlink:href="images/sprite.svg#wordpress"></use>
  </svg>
</span>

<!--INSTEAD OF PROVIDING DIFFERENT IMAGES FOR DIFEERNENT PURPOUSES WE CAN USE SVF
SVG HELPS US TO DO CSS ON FEW IMAGES TO CHANGE THEM

IMAGE SPRITE IS A SINGLE IMAGE ELEMENTS THAT COMPRISES MANY IMAGES INSIDE
WITH SPRITE YOU CAN REDUCE HTTP REQUESTS SEND TO A SERVER
SVG IS AN XML FILE-->
